@using Dominio;
@{
    ViewData["Title"] = "Listado";
}

<h1>Listado</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
    <br />
}

@if (ViewBag.Exito != null)
{
    <div class="alert alert-success">@ViewBag.Exito</div>
    <br />
}

@if(ViewBag.Listado == null || ViewBag.Listado.Count == 0)
{
    <div class="alert alert-danger">No se encontraron destinos en el sistema</div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio por dia</th>
                <th>Detalles</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Destino d in ViewBag.Listado)
            {
                <tr>
                    <td>@d.Codigo</td>
                    <td>@d.Nombre</td>
                    <td>$ @d.PrecioPorDia</td>
                    <td><a href="/destinos/detalle?codigo=@d.Codigo">Ver detalle</a></td>

                    @if (Context.Session.GetString("rol") != null && Context.Session.GetString("rol") == "Admin")
                    {
                        <td><a href="/destinos/cambiarprecioalt?codigo=@d.Codigo">Cambiar precio</a></td>
                    }
                    else
                    {
                        <td>Accion no permitida</td>
                    }
                    
                </tr>    
            }
        </tbody>
    </table>
}